#page-footer {
  position: fixed;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0; }

form {
  position: relative; }
  form #search-datalist {
    position: absolute;
    top: 35px;
    left: 16px;
    width: 200px;
    list-style: none;
    background-color: #f8f8f8; }
    form #search-datalist li {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
      form #search-datalist li a {
        color: black; }

.navbar {
  width: 100%; }
  .navbar .container-fluid {
    width: 900px;
    margin: 0 auto; }

#aside-left {
  width: 200px;
  height: 400px;
  background-color: #f8f8f8;
  color: black;
  float: left; }
  #aside-left li {
    color: black; }
    #aside-left li a {
      background-color: #e7e7e7;
      color: black; }

#article-news {
  list-style: none;
  margin-left: 300px; }
  #article-news li {
    height: 30px;
    width: 600px;
    font-size: 15px;
    overflow: hidden; }
    #article-news li a {
      color: #111;
      float: left; }
    #article-news li .del,
    #article-news li #update {
      float: left;
      color: red;
      font-size: 13px;
      margin-left: 20px; }
      #article-news li .del:hover,
      #article-news li #update:hover {
        cursor: pointer; }
    #article-news li #update {
      color: green; }

#navbar-right {
  position: relative; }
  #navbar-right #adminname {
    display: block;
    height: 52px;
    width: 150px;
    line-height: 52px;
    position: absolute;
    top: 0;
    left: 100%; }
    #navbar-right #adminname a {
      display: inline-block;
      padding-left: 0;
      padding-right: 8px;
      text-decoration: underline;
      color: blue; }
