html {
  height: 100%; }

body {
  background-color: white(5, 5, 50);
  position: relative;
  height: 100%; }
  body .login {
    width: 400px;
    min-height: 280px;
    background-color: #f8f8f8;
    position: fixed;
    top: 10%;
    left: 20%;
    padding: 20px 15px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    body .login .input-group {
      margin-top: 5px; }
    body .login .username {
      margin-top: 20px; }
    body .login button {
      margin-left: 10px; }
